<div class = 'day-component'>
	<div class = 'day-of-week-header'>
		<div class = 'day-of-week'>
			{{dayOfWeek this.date}}
		</div>
		<div class = 'date'>
			{{formatDate this.date}}
		</div>
	</div>
	<button class='add-deed-button' type="button" {{action 'addDeed'}}>+</button>
	{{#each this.deeds as |deed|}}
	<div class="deed-in-day">
		<DeedComponent @deed={{deed}} />
	</div>    
	{{/each}}
</div>
{{yield}}
